NEXT_PUBLIC_PAYPAL_CLIENT_ID=ARL6-mjwvoqXNO-1rabcMaYbrjhLvGZvJQiNTChuA3zwGxswrOEohQoW2cGQ0242tpV1aTy61bw2L4eD
NEXT_PUBLIC_SANITY_PROJECT_ID=trbtzvh4
NEXT_PUBLIC_SANITY_TOKEN=skLnMUSWmN9RM2IZpP8JiL0oEBiTRvdTVa6L4G3F2c5ZGyQBxGF5YtU8poqHDc7LWlUuGIdRl0L5d70BsS9fG7wCv0gor3uOBjr6HYtOcU27uxHgzAR28UoKS9l4I1m2IcQdLSyiERLwpVGHUh7mL2GKbLNMhfLrEBAXnx7w4xtdd9OclqIk
NEXT_PUBLIC_ACCESS_TOKEN=Memoryzone
NEXT_PUBLIC_REFRESH_TOKEN=Memoryzone
NEXT_PUBLIC_CLIENT_URL=https://3000-minhtri06ltr-memoryzone-1cy7wr5shi3.ws-us47.gitpod.io
