NEXT_PUBLIC_PAYPAL_CLIENT_ID=ARL6-mjwvoqXNO-1rabcMaYbrjhLvGZvJQiNTChuA3zwGxswrOEohQoW2cGQ0242tpV1aTy61bw2L4eD
NEXT_PUBLIC_SANITY_PROJECT_ID=trbtzvh4
NEXT_PUBLIC_SANITY_TOKEN=skLnMUSWmN9RM2IZpP8JiL0oEBiTRvdTVa6L4G3F2c5ZGyQBxGF5YtU8poqHDc7LWlUuGIdRl0L5d70BsS9fG7wCv0gor3uOBjr6HYtOcU27uxHgzAR28UoKS9l4I1m2IcQdLSyiERLwpVGHUh7mL2GKbLNMhfLrEBAXnx7w4xtdd9OclqIk
NEXT_PUBLIC_ACCESS_TOKEN=Memoryzone
NEXT_PUBLIC_REFRESH_TOKEN=Memoryzone
NEXT_PUBLIC_ACTIVE_TOKEN=Memoryzone
NEXT_PUBLIC_CLIENT_URL=https://minhtri06ltr-memoryzone-q796xggjx3xq7x-3000.githubpreview.dev
NEXT_PUBLIC_GOOGLE_CLIENT_ID=742204631646-45jdgbbb8svr7b0eiqk8kl028hmubh9t.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=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
NEXT_PUBLIC_OAUTH2_REFRESH_TOKEN=1//04z_LwgJYGaXbCgYIARAAGAQSNwF-L9IrEVx1ezh1pJaQ1jFQ5nzv5jNbZRb15r4zMGiRLhKlsscOh06RQmlnj96JT0QESzJ9qt4
NEXT_PUBLIC_SENDER_EMAIL=laptopdienthoai1@gmail.com