NEXT_PUBLIC_PAYPAL_CLIENT_ID=ARL6-mjwvoqXNO-1rabcMaYbrjhLvGZvJQiNTChuA3zwGxswrOEohQoW2cGQ0242tpV1aTy61bw2L4eD
NEXT_PUBLIC_SANITY_PROJECT_ID=trbtzvh4
NEXT_PUBLIC_SANITY_TOKEN=skLnMUSWmN9RM2IZpP8JiL0oEBiTRvdTVa6L4G3F2c5ZGyQBxGF5YtU8poqHDc7LWlUuGIdRl0L5d70BsS9fG7wCv0gor3uOBjr6HYtOcU27uxHgzAR28UoKS9l4I1m2IcQdLSyiERLwpVGHUh7mL2GKbLNMhfLrEBAXnx7w4xtdd9OclqIk
NEXT_PUBLIC_ACCESS_TOKEN=Memoryzone
NEXT_PUBLIC_REFRESH_TOKEN=Memoryzone
NEXT_PUBLIC_ACTIVE_TOKEN=Memoryzone
NEXT_PUBLIC_CLIENT_URL=https://minhtri06ltr-memoryzone-q796xggjx3xq7x-3000.githubpreview.dev
NEXT_PUBLIC_GOOGLE_CLIENT_ID=742204631646-45jdgbbb8svr7b0eiqk8kl028hmubh9t.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=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
NEXT_PUBLIC_OAUTH2_REFRESH_TOKEN=1//040PQuu00E5hJCgYIARAAGAQSNwF-L9IrFwhSJkL0nGvv4ra-Ly1GKX6tqWx4AWsEKZLhpnZh6AKyPlla_jBiGAYjO4aqdOS1o4A
NEXT_PUBLIC_SENDER_EMAIL=laptopdienthoai1@gmail.com
NEXT_PUBLIC_MULTIAVATAR_API_KEY=2MjdCA50XqvrIh
NEXT_PUBLIC_VNP_TMN_CODE=UA902JH0
NEXT_PUBLIC_VNP_SECRET=PSJHISFZGRRRCAMIMIKKYEJXVFXWQJXJ
NEXT_PUBLIC_VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
NEXT_PUBLIC_VNP_API_URL=https://sandbox.vnpayment.vn/merchant_webapi/merchant.html
NEXT_PUBLIC_MUX_ACCESS_TOKEN=aa86ebfa-9b0c-4470-ad9b-689e56b9b5ee
NEXT_PUBLIC_MUX_SECRET=/waedWP6FubomHhk7ZcTQNsN88mDrsa9inCjBILrDYEqHbWJ8MCOXhGi3dgSdEmVXwxtUgOZRyQ
NEXT_PUBLIC_TAWKTO_ID=62c5716db0d10b6f3e7b134a/1g79k65cl
NEXT_PUBLIC_GHN_TOKEN=b1aedd08-0051-11ed-ad26-3a4226f77ff0
NEXT_PUBLIC_MAIL_CHIMP_AUDIENCE_ID=2e02d7af25
NEXT_PUBLIC_MAIL_CHIMP_API_KEY=67496e33601ca6b7c7ddc92b0f525218-us10