@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .topHeaderItem {
    @apply flex justify-center items-center pl-4 cursor-pointer hover:text-secondary text-white;
  }
  .topHeaderText {
    @apply text-white text-xs ml-1 mt-1 text-inherit;
  }
  .bottomHeaderItem {
    @apply px-3.5 cursor-pointer truncate hover:text-primary;
  }
  .bannerSlideItem {
    @apply limit-2-line border-t-4 text-text border-transparent font-light cursor-pointer text-sm px-2 text-center   flex-1;
  }
  .sellItem {
    @apply text-sm font-light px-2 cursor-pointer hover:text-primary text-text;
  }
  .cartRow {
    @apply border border-[#ebebeb] text-base overflow-hidden break-normal p-4 align-middle text-center text-[#363636];
  }
  .cartPrice {
    @apply text-primary font-semibold;
  }
  .checkoutInput {
    @apply outline-none text-sm p-3 rounded-md focus:outline-2 focus:outline-primary outline-offset-0 border border-[#d9d9d9];
  }
  .checkoutSelect {
    @apply w-full h-full place-items-end  outline-none;
  }
  .checkoutSelectWrapper {
    @apply focus-within:border-primary focus-within:border-2 text-sm relative px-3 pb-1 flex flex-col justify-center items-start h-[44px] bg-white;
  }
  .checkoutInfo {
    @apply flex justify-between items-center p-4 space-x-3;
  }
  .arrow {
    @apply after:z-10 relative after:content-[''] after:absolute after:h-0 after:w-0  after:border-transparent;
  }
  .scaleAnimation {
    @apply hover:scale-105 cursor-pointer transition ease-linear;
  }
  .reviewInput {
    @apply px-4 py-3 border min-w-[270px] text-[#686868] text-sm border-[#dddddd] outline-none focus:border-[#bdbdbd] rounded-md;
  }
  .headerOrderTable {
    @apply p-2 bg-[#acacac] text-center text-sm align-middle;
  }
  .itemOrderTable {
    @apply text-sm text-center p-3 align-top;
  }
  .addressInput {
    @apply px-4 py-2 border min-w-[270px] text-[#686868] text-sm border-[#dddddd] outline-none focus:border-[#bdbdbd] rounded-sm w-full;
  }
  .footerHeaderText {
    @apply text-text text-sm font-bold hover:text-primary cursor-default;
  }
  .footerItem {
    @apply cursor-pointer hover:text-primary;
  }
}
@layer utilities {
  .limit-1-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
  }
  .limit-2-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }
  .limit-3-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
  }
  .rating:hover ~ svg {
    color: gold;
  }
  .loading text {
    animation: textAnimation 1s ease-in-out
      infinite;
  }
  @keyframes textAnimation {
    50% {
      opacity: 0.1;
    }
  }
  .polygon {
    stroke-dasharray: 22;
    stroke-dashoffset: 1;
    animation: dash 4s
      cubic-bezier(0.455, 0.03, 0.515, 0.955)
      infinite alternate-reverse;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 234;
    }
  }
  .blurBackground::before {
    display: block;
    content: "";
    height: 120px;
    position: absolute;
    top: -120px;
    width: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.33) 33%,
      rgba(255, 255, 255, 0.8) 83%,
      #fff
    );
  }
}
