@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .topHeaderItem {
    @apply flex justify-center items-center pl-4 cursor-pointer;
  }
  .topHeaderText {
    @apply text-white text-sm ml-2;
  }
  .bottomHeaderItem {
    @apply px-3.5 cursor-pointer truncate hover:text-primary;
  }
  .bannerSlideItem {
    @apply limit-2-line border-t-4 text-text border-transparent font-light cursor-pointer text-base px-2 text-center   flex-1;
  }
  .sellItem {
    @apply text-base font-light px-2 cursor-pointer hover:text-primary text-text;
  }
}
@layer utilities {
  .limit-1-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
  }
  .limit-2-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }
  .limit-3-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
  }
  .rating:hover ~ svg {
    color: gold;
  }
  .img-zoom-lens {
    position: absolute;
    border: 1px solid black;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
    z-index: 10;
  }
}
